<h1>Hello world from hello</h1>

<%= 1 + 1 %>

<% target = 'world' %>

<%= "Hello #{target}" %>

<br/>

<% @array.each do |n| %>
  <%= n %><br/>
<% end %>

<%= link_to('Back to index', {:action => 'index'}) %><br/>

<br>

ID: <%= @id %>
ID: <%= params[:id] %>
Page: <%= @page %>
Next page: <%= @page.to_i + 1 %>
