<h1>Hello world from index</h1>

<a href="/demo/hello">Hello page 1</a><br/>
<%= link_to('Hello page 2', {:action => 'hello'}) %><br/>

<%= link_to('Hello with parameters', {:action => 'hello', :page => 5, :id => 20}) %><br/>

<%= link_to('Roar', '#', :onclick => "jsRoar('Javascript'); return true;") %>
