<%= link_to('<< Back to List', sections_path, :class => 'back-link') %>

<div class="subjects edit">
  <h2>Delete Section</h2>

  <%= form_for(@section, :method => 'delete') do |f| %>

    <p>Are you sure want to permanently delete this page?</p>
    <p class="reference-name"><%= f.object.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Section") %>
    </div>
  <% end %>
</div>
