<div class="sections index">
  <h2>Sections</h2>

  <%= link_to('Add New Section', new_section_path, :class => 'action new') %>

  <table class="listing" summary="Section list">
    <tr class="header">
      <th>#</th>
      <th>Name</th>
      <th>Page Id</th>
      <th>Visible</th>
      <th>Actions</th>
    </tr>
    <% @sections.each do |section| %>
    <tr>
      <td><%= section.position %></td>
      <td><%= section.name %></td>
      <td><%= section.page_id %></td>
      <td class="center"><%= section.visible ? 'Yes' : 'No' %></td>
      <td class="actions">
        <%= link_to('Show', section_path(section), :class => 'action show') %>
        <%= link_to('Edit', edit_section_path(section), :class => 'action edit') %>
        <%= link_to('Delete', delete_section_path(section), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
