<%= link_to('<< Back to List', pages_path, :class => 'back-link') %>

<div class="subjects edit">
  <h2>Delete Page</h2>

  <%= form_for(@page, :method => 'delete') do |f| %>

    <p>Are you sure want to permanently delete this page?</p>
    <p class="reference-name"><%= f.object.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Page") %>
    </div>
  <% end %>
</div>
