<%= link_to('<< Back to List', subjects_path, :class => 'back-link') %>

<div class="subjects edit">
  <h2>Delete Subject</h2>

  <%= form_for(@subject, :method => 'delete') do |f| %>

    <p>Are you sure want to permanently delete this subject?</p>
    <p class="reference-name"><%= f.object.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Subject") %>
    </div>
  <% end %>
</div>
