<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple CMS: <%= @page_title || 'Admin Area' %></title>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <%= stylesheet_link_tag('admin', :media => 'all') %>
</head>
<body>
  <div id="header">
    <h1>Simple CMS Admin</h1>
  </div>

  <div id="main">
    <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div id="content">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <p id="copyright">&copy; prinzio.com</p>
   </div>
</body>
</html>
